.page {
  composes: page from "../Layout.module.css";
  background-color: black;
  overflow: hidden;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.videoControls {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  bottom: 90px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.seekBar {
  width: 320px;
  height: 5px;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.616);
  margin-bottom: 20px;
}

.seekBtn {
  transition: left 300ms ease;
  position: absolute;
  top: -6px;
  left: 10px;
  height: 20px;
  width: 20px;
  border-radius: 999px;
  background-color: rgba(255, 255, 255, 0.918);
}

.seekBtn:hover {
  top: -16px;
  left: 3px;
  height: 35px;
  width: 35px;
  /* background-color: rgb(255, 255, 255); */
  outline: none;
}

.btn {
  outline: none;
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 999px;
  margin: 0 20px;
}

.dummy {
  composes: btn;
  background-color: transparent;
  color: transparent;
}

.playPause {
  composes: btn;
  height: 60px;
  width: 60px;
}

.loop {
  composes: btn;
}

.loopIcon {
  height: 25px;
  width: 25px;
  margin-top: 4px;
  transform: rotate(90deg);
  fill: lightgrey;
}

.activeLoop {
  composes: loopIcon;
  fill: red;
}
