.bigBtn {
  width: 200px;

  background-color: white;
  font-size: 15px;
  font-weight: 500;
  color: black;
  padding: 10px 20px;
  border-radius: 999px;
  border: 1.5px solid black;
}

.bigBtn:focus {
  outline: none;
}

.default {
  composes: bigBtn;
  width: 100%;
}

.intro {
  composes: bigBtn;
  position: absolute;
  bottom: 30%;
  background-color: #0ed0d7;
  color: white;
  border: 1.5px solid white;
}
