.modeButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.toggleButton {
  border: none;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.918);

  /* padding: 10px; */
  border-right: 1px solid grey;
}

.toggleButtonRight {
  composes: toggleButton;
  border-right: none;
}

.toggleButton:hover {
  background-color: #baffff;
}

.btnContainer {
  width: 100%;
  /* border-radius: 8px; */

  box-shadow: 0 0 15px #3a3a3a36;
  /* width: 95%; */
}

@media (min-width: 600px) {
  .btnContainer {
    width: 350px;
    width: 100%;
  }

  .toggles {
    width: 350px;
  }
}

.btn {
  width: calc(1 / 3 * 100%);
  border: none;
  height: 50px;

  /* font-size: 10px; */
  font-size: 15px;
  background-color: white;
}

.btn:hover {
  color: red;
  background-color: black;
}

.btn:focus {
  outline: none;
}

.btnLeft {
  composes: btn;
  /* border-radius: 8px 0 0 8px; */
}

.btnRight {
  composes: btn;
  /* border-radius: 0 8px 8px 0; */
}

.hasRecording {
  /* background-color: #5fd49b;
  color: white; */
}

.hasRecordingMain {
  composes: hasRecording;
}

.hasRecordingSecondary {
  composes: hasRecording;
  /* background-color: #ff8547;
  color: white; */
}
