.page {
  composes: page from "../Layout.module.css";
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.hero {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.startBtn {
  width: 200px;
  position: absolute;
  top: 350px;
  background-color: #ffffff;
  font-size: 15px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 999px;
  border: 1.5px solid rgb(0, 0, 0);
}

.startBtn:focus {
  outline: none;
}

.heroTitle {
  position: absolute;
  top: 180px;
  font-weight: 800;
  font-size: 80px;
  color: white;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.heroText {
  position: absolute;
  text-align: center;
  top: 260px;
  font-size: 30px;
  width: 100%;
  color: white;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}
